body {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  height: 100vh;
}


svg{
  background-color: #004444;
}

#tooltip{
  width:auto;
  height:auto;
  margin-top: 5px;
  color: rgb(56, 58, 74);
  font-size: 24px;
  margin-bottom: 5px;
}

.dot:hover{
  fill: white
}

g{
  color: white;
}

#legend{
  margin-top: 5px;
  text-align: center;
}
